.button-container{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #FFC300;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.operator{
    background-color: #FA980B;
}

.button-container:hover{
    background-color: #fff9e6;
    color: #FFC300;
}

.operator:hover{
    background-color: #fff9e6;
    color: #FA980B;
}